src/main/mule/mulemavplug.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="455f6f57-8917-4e77-a7ee-ced2c7c60108" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulemavplugFlow" doc:id="91cfc68b-b7f2-43d8-b808-9e1bafde7cd9" >
		<http:listener doc:name="Listener" doc:id="9530f44b-c857-4daf-955e-58fbc14ded25" config-ref="HTTP_Listener_config" path="test"/>
		<set-payload value="#['This is Mule 4 deployment using Maven, Git-hub, Jenkins &amp; Node JS.']" doc:name="Set Payload" doc:id="6dbb3d2a-679f-442b-9479-1f65e8bfb6b0" />
		<logger level="INFO" doc:name="Logger" doc:id="3607041e-1ae8-4ef5-910d-970ad6132ab8" message="#[payload]"/>
	</flow>
</mule>
