src/main/mule/mulemavplug.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="455f6f57-8917-4e77-a7ee-ced2c7c60108" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulemavplugFlow" doc:id="91cfc68b-b7f2-43d8-b808-9e1bafde7cd9" >
		<http:listener doc:name="Listener" doc:id="9530f44b-c857-4daf-955e-58fbc14ded25" config-ref="HTTP_Listener_config" path="test"/>
		<set-payload value="#['This is Mule 4 deployment using Maven, Git-hub, Jenkins &amp; Node JS in flow 1. ']" doc:name="Set Payload" doc:id="6dbb3d2a-679f-442b-9479-1f65e8bfb6b0" />
		<logger level="INFO" doc:name="Logger" doc:id="3607041e-1ae8-4ef5-910d-970ad6132ab8" message="#[payload]"/>
	</flow>
	<flow name="mulemavplugFlow3" doc:id="f1f2da1f-2e80-4ca2-8670-0b95eaaad460" >
		<http:listener doc:name="Listener" doc:id="6b890b51-141d-410f-bc61-a5ba64cd0c14" config-ref="HTTP_Listener_config" path="test2"/>
		<set-payload value="#['This is Mule 4 deployment using Maven, Git-hub, Jenkins &amp; Node JS in flow 4. ']" doc:name="Set Payload" doc:id="48ce87ca-0acf-4cda-815d-2102466a3333" />
		<logger level="INFO" doc:name="Logger" doc:id="7344e23a-4008-4bb0-9224-98e081a297d9" message="#[payload]"/>
	</flow>
	<flow name="mulemavplugFlow1" doc:id="e967dc14-f827-4ede-9be2-6d51899ddf52" >
		<http:listener doc:name="Listener" doc:id="8ef5f0d1-840a-40a5-816c-786e6802e665" config-ref="HTTP_Listener_config" path="run"/>
		<set-payload value="#['This is Mule 4 deployment using Maven, Git-hub, Jenkins &amp; Node JS in flow 2.']" doc:name="Set Payload" doc:id="1822a44b-7c18-434e-bb16-86288e753007" />
		<logger level="INFO" doc:name="Logger" doc:id="5ba2257c-755f-41ca-b0ea-13f09fe32f2c" message="#[payload]"/>
	</flow>
	<flow name="mulemavplugFlow2" doc:id="318c618e-6b32-4f42-9c7b-6aaed0231ef3" >
		<http:listener doc:name="Listener" doc:id="cfd7dcd8-6c11-48e7-af5c-773f1abbe29c" config-ref="HTTP_Listener_config" path="test1"/>
		<set-payload value="#['This is Mule 4 deployment using Maven, Git-hub, Jenkins &amp; Node JS in flow 3.']" doc:name="Set Payload" doc:id="d3005d43-39c0-4b30-9d0a-826d319ce482" />
		<logger level="INFO" doc:name="Logger" doc:id="816de727-90b2-4817-ad98-e428ae1a3a59" message="#[payload]"/>
	</flow>
</mule>
